
header {
  opacity: 0.7;
  #logo {
    background: url("../img/logo.png") no-repeat center;
    height: 180px;
  }
  #navigator {

    clear: both;
    border-width: 2px 0 2px 0;
    //border-color: black;
    height: 60px;
    //border-style: solid;
    padding-left: 70px;

    ul {
      width: 80%;
      height: 60px;
      display: table;

      list-style-type: none;
      text-align: center;
      font-weight: bold;
       li {

        display: table-cell;
        a {
          padding: 10px;
          font-size: 30px;
          text-align: center;
          text-decoration: none;
          color: #808080;
        }
        a:hover {
          background-color: #C0C0C0;
        }
      }
    }
  }
}