<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>O Nás</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" type="text/css" href="css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="font/stylesheet.css" charset="utf-8"/>
</head>
<body>

<div th:replace="header::header"></div>

<!--<div class="content">-->
<div class="content">
<h1>Kdo jsme a co děláme!</h1>
<p>Jsme Statek, free music sound system pocházející z Valašského města Rožnov pod Radhoštěm.</p>
<p>Zhruba před deseti lety se začala formovat malá skupinka lidí toužících po možnosti přispět na vzkvétající scéně
    elektronické hudby na moravě. Partička lidí skládajících se z nadšenců, posluchačů, ale hlavně milovníků kvalitní
    hudby, stylů Tekkno, drum and bass a break beat. Někteří pamětníci budou vědět, že v té době jsme si ještě říkali
    Exit Crew. Na počátku byl pouze jeden mix a počítač, poté následovali gramce westax až jsme se dostali k technicsům.
    Postupem času se k nám přidalo několik nadějných umělců, kteří společnými silami dopomohli přerodu z přívlastku crew
    do matrice sound system. V dnešní době disponujeme 8Kw čirého zvuku, cd playery pioneer, technikou pro vystoupení
    hraných na živo, tzv. živáků a v neposlední řadě visuální technikou, jakou je strobo, lasershow a projektce. Naším
    hlavním cílem a touhou, je přinášet lidem nezapomenutelné audio visuální zážitky pod hlavičkou free kultury. Bežně
    hráváme v klubech či kulturácích, ale okamžitě co se na nás usměje sluníčko naložíme vše do dodávek a vyjíždíme na
    všemožné louky, postavit sound systém s pozvánkou na free párty.</p>
<!--</div>-->
</div>

</body>
</html>