<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>StatekSound</title>

</head>
<body>

<div id="header" th:fragment="header">
    <div id="logo"></div>
    <div id="navigator">
        <ul>
            <li><a href="#">O Nás</a></li>
            <li><a href="#">Akce</a></li>
            <li><a href="#">Profily</a></li>
            <li><a href="#">Galerie</a></li>
            <li><a href="#">Technika</a></li>
        </ul>
    </div>
</div>


</body>
</html>