<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>StatekSound</title>

</head>
<body>

<header>
    <div id="logo"></div>
    <div id="navigator">
        <ul>
            <li><a href="/">Akce</a></li>
            <li><a href="/gallery">Galerie</a></li>
            <li><a href="/equipment">Technika</a></li>
            <li><a href="profile">DJ's</a></li>
            <li><a href="/about">O Nás</a></li>
        </ul>
    </div>
</header>


</body>
</html>